CONFIG_X86=y
CONFIG_CMD_NET=y
CONFIG_VENDOR_UEFI=y
CONFIG_TARGET_UEFI=y
CONFIG_TSC_CALIBRATION_BYPASS=y
CONFIG_OF_CONTROL=y
# CONFIG_CMD_SF is not set
# CONFIG_CMD_SF_TEST is not set
CONFIG_DM_PCI=y
# CONFIG_CMD_SPI is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SOUND is not set
# CONFIG_CMD_NAND is not set
# CONFIG_CMD_I2C is not set
# CONFIG_CMD_USB is not set
